<template>
  <div class="mostrador"></div>
  <ul>
    <li data-role="admin">
      <span>Full Admin</span>
      <ul>
        <li data-link="/cad-instituicao">
          <iconify-icon icon="material-symbols:book-5-rounded"></iconify-icon>
          <span>Cadastro de Instituição</span>
        </li>
        <li data-link="/cad-publicador">
          <iconify-icon icon="material-symbols:bookmark-heart-sharp"></iconify-icon>
          <span>Cadastro de Publicador</span>
        </li>
      </ul>
    </li>
    <li>
      <span>Públicador</span>
      <ul>
        <li data-link="/cad-publicador">
          <iconify-icon icon="material-symbols:material-symbols:dashboard"></iconify-icon>
          <span>Overview / Publicações</span>
        </li>
      </ul>
    </li>
    <li>
      <span>Usuário</span>
      <ul>
        <li><span>Pesquisar</span></li>
      </ul>
    </li>
  </ul>
</template>