html {
  color-scheme: light dark;
}

body:has(input[type=radio][name='__theme'][value='light']:checked) {
  color-scheme: light;
}

body:has(input[type=radio][name='__theme'][value='dark']:checked) {
  color-scheme: dark;
}

:root {
  --primary-color: light-dark(#e0e0e0,
      #212529);

  --secundary-color: light-dark(#712cf9,
      #712cf9);

  --tertiary-color: light-dark(tomato,
      tomato);

  --accent-color: light-dark(#0dcaf0,
      #0dcaf0);

  --secundary-color-light: light-dark(oklch(from var(--secundary-color) calc(l + 0.2) c h),
      oklch(from var(--secundary-color) calc(l + 0.2) c h));

  --secundary-color-light2: light-dark(oklch(from var(--secundary-color) calc(l + 0.4) c h),
      oklch(from var(--secundary-color) calc(l + 0.4) c h));

  --secundary-color-light3: light-dark(oklch(from var(--secundary-color) calc(l + 0.6) c h),
      oklch(from var(--secundary-color) calc(l + 0.6) c h));

  /* --- */

  --background-color: light-dark(var(--primary-color),
      var(--primary-color));

  --secundary-background-color: light-dark(oklch(from var(--primary-color) calc(l + 0.05) c h),
      oklch(from var(--primary-color) calc(l + 0.05) c h));

  --surface-color: light-dark(oklch(from var(--primary-color) calc(l + 0.3) c h),
      oklch(from var(--primary-color) calc(l + 0.1) c h));

  --text-color: light-dark(oklch(from var(--primary-color) calc(l - 0.6) c h),
      oklch(from var(--primary-color) calc(l + 0.8) c h));

  --text-color-secondary: light-dark(oklch(from var(--text-color) calc(l + 0.1) c h),
      oklch(from var(--text-color) calc(l - 0.2) c h));

  --border: 1px solid light-dark(oklch(from var(--primary-color) calc(l + 0.1) c h),
      #2f343a);

  --shadow: 0 2px 4px light-dark(rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.25));
}

* {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, 
h4, h5, h6 {
  display: block;
  padding: 0;
  margin: 0;
  color: var(--text-color);

  span {
    color: var(--text-color-secondary);
    display: block;
    font-size: 50%;
  }
}

.holder {
  display: contents;
}

.card-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1rem;
}

.card {
  background-color: var(--surface-color);
  border: var(--border);
  display: inline-block;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
}

.card:empty::before,
.card:has(*):not(:has(*:not(:empty)))::before {
  content: "nada por aqui ainda!";
  display: grid;
  place-items: center;
  padding: 2rem 1rem;
  color: var(--text-color-secondary);
}

/* ------------------------------------------------------------------------------------------------------------------ */

search {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  border: var(--border);
  border-radius: 0.25rem;
  background-color: var(--background-color);
  color: var(--text-color);

  input[type="search"] {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
  }
}

button {
  cursor: pointer;
  border: none;
  color: var(--text-color);
  font-size: .8rem;
  padding: 0.5rem .75rem;
}

cmp-search {
  .pills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 0.5rem;

    .pill {
      display: inline-block;
      padding: 0.25rem 1rem 0.25rem 0.5rem;
      border-radius: 9999px;
      background-color: var(--secundary-color-light);
      color: var(--text-color);
      font-size: 0.875rem;
      cursor: pointer;

      >input {
        height: 0;
        width: 0;
        opacity: 0;
      }

      &:has(input:checked),
      &:has(input:focus) {
        background-color: var(--secundary-color);
        color: var(--background-color);
      }

      &:hover {
        background-color: var(--secundary-color-light1);
      }
    }
  }
}

form {
  .form-group {
    margin-bottom: 1rem;

    &.actions {
      display: flex;
      gap: .25rem;
      justify-content: flex-end;
      grid-column: 1 / -1;
    }

    label {
      display: block;
      margin-bottom: 0.5rem;
    }

    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"],
    input[type="date"],
    search,
    select,
    textarea {
      width: 100%;
      padding: 0.5rem;
      border: 0 none;
      border-radius: 0;
      background-color: transparent;
      border-bottom: 1px solid var(--background-color);
      color: var(--text-color);
    }

    &:has(cmp-search) {
      display: block;
      grid-column: 1 / -1;
    }
  }

  fieldset {
    display: contents;
  }

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}